{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>Merci pour votre commande ! ✅</h1>
        <p>Votre numéro de commande est le : <strong>{{ order.orderNumber }}</strong></p>
        <p>Un email de confirmation vous a été envoyé.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour au catalogue</a>
    </div>
{% endblock %}